# Build Folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Rider IDE
.idea/

# VS Code
.vscode/

# Local app settings
appsettings.Development.json

# Database
*.db

# Others
*.log
